body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
}

b {
  text-align: center;
  color: #00008b;
  margin-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
}

p {
color: #00008b;
font-weight: bold;
}

input {
  height: 40px;
  min-width: 300px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 35px;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: #00008b;
  padding-top: 25px;
  padding-bottom: 25px;
}

.info {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}

.photo-card img{
  display: block; 
  justify-content: center;
  width: 500px;
  height: 300px;
} 


.load-more:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #0000ff;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

.load-more {
  margin: 0 auto;
  display: block;
  border-color: #00008b;
  border-radius: 0;
  color: #00008b;
  font-weight: bold;
  margin-bottom: 20px;
  height: 30px;
  min-width: 120px;
  position: relative;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.load-more:hover {
  color: #fff;
}

.load-more:hover:after {
  width: 110%;
}